# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# React build
frontend/build/

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Mac/Linux swap files
*.swp
